
.navbar {
    height: 4rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black; /* Set an initial background color with some transparency */
    transition: background-color 0.3s; /* Add a smooth transition effect for the background color change */
    display: block;
    z-index: 99;
}

.menuListItem {
    margin: 1rem;
    cursor: pointer;
}

.ulList {
    list-style: none; /* Remove the default list styles */
    padding: 0; /* Remove default padding for the list */
    display: flex; /* Display list items horizontally */
    align-items: center; /* Center items vertically in the navbar */
    justify-content: left;
  }

.menuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.menuButton {
    background: white;
    color: black;
    border: none;
    padding: 4px 15px;
    border-radius: 2rem;
    font-weight: bold;
    margin-top: -1.5rem;
    margin-left: auto; /* Push the button to the right */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

