.bio {
    text-align: left;
    margin-top: 6rem;
    margin-left: 3rem;
}

.actualBio {
    margin-right: 6rem;
    margin-top: 1rem;
    font-size: 10px;
    margin-bottom: 6rem;
}

h3 {
    font-size: x-large;
}